.list {
    display: flex;
}

.item:not(:last-child) {
    margin-right: 7px;
}

.btn {
    border-color: aliceblue;
    border-radius: 5px;
    cursor: pointer;

}

.btn:hover,
.btn:focus {
    background-color: blue;
    color: aliceblue;
}